---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little about Oran"
	pubDate={new Date('November 26 2023')}
	heroImage="/blog-hero/gabriel-heinzer-g5jpH62pwes-unsplash.jpg"
	heroImageByName="Gabriel Heinzer"
	heroImageByLink="https://unsplash.com/@6heinz3r?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
	heroImageSiteName="Unsplash"
	heroImageSiteLink="https://unsplash.com/photos/text-g5jpH62pwes?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
	>

	<p>
		I'm a tech guy and a dad. I'll be putting some random thoughts and tips about technology
		and business into this blog.
	</p>
</Layout>
