---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little about Oran"
	pubDate={new Date('November 26 2023')}
	heroImage="/blog-hero/gabriel-heinzer-g5jpH62pwes-unsplash.jpg"
>
	<p>
		I'm a tech guy and a dad. I'll be putting some random thoughts and tips about technology
		and business into this blog.
	</p>

	<p>
		Photo by <a href="https://unsplash.com/@6heinz3r?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Gabriel Heinzer</a> on <a href="https://unsplash.com/photos/text-g5jpH62pwes?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  	</p>
</Layout>
